@use "../../../styles/variables.scss" as *;

.header {
  background-color: $color-white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  @media (min-width: $breakpoint-lg) {
    border-bottom: 1px solid $color-border;
  }
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-block: 1rem;
  position: relative;
}

.logo {
  flex-shrink: 0;
  margin-top: -9px;
  width: 100px;

  @media (min-width: $breakpoint-lg) {
    width: 160px;
  }
}

.menuButton {
  display: flex;
  align-items: center;
  color: $color-secondary;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;

  @media (min-width: $breakpoint-lg) {
    display: none;
  }
}
